.title
	font-family: $montserrat

.text-title
	font:
		family: $montserrat
		size: 32px
		weight: 600
	margin-bottom: 10px
	line-height: 40px

.text-subtitle
	font:
		family: $montserrat
		size: 18px
		weight: 300
	color: #757575
	margin-bottom: 30px

.text-content
	line-height: 24px

a
	color: #949494

::-webkit-scrollbar
	width: 8px

::-webkit-scrollbar-track 
	background: #242526
	border-radius: $border-radius

::-webkit-scrollbar-thumb 
	background: darken(#242526, 10%)
	border-radius: $border-radius
