$montserrat: 'Montserrat', sans-serif
$varela: 'Varela Round', sans-serif
$gutter: 20px
$border-radius: 10px
$color-bg: #18191a
$color-bg-gallery: #242526
$color-active: #00947f
$color-category-item: #8a8a8a
$color-loader: #4a4c4e
$color-link: #949494
$color-subtitle: #757575

// media queries
$breakpoint-lg: 993px
$breakpoint-md: 769px
$breakpoint-sm: 577px
$breakpoint-xs: 1px